<h1>******** Now your results ********</h1>
<h2>Your word: <%= @word %> </h2>
<p>Time Taken to answer: <%= @time_taken.round(2) %> seconds</p>
<p>Your score: <%= @score %></p>
<p>Message: <%= @message %></p>
<%= link_to "NEW GAME", new_path%>
